.error-container {
  display: flex;
  align-items: center;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px 20px;
  border-radius: 5px;
  color: #721c24;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 80%;
}

.error-icon {
  font-size: 24px;
  margin-right: 10px;
}

.error-message {
  flex: 1;
}
