.comment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.comment-form input,
.comment-form textarea {
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f7f7f7;
  transition: border 0.3s;
}

.comment-form input:focus,
.comment-form textarea:focus {
  border-color: #00aa5b;
  outline: none;
}

.comment-form button {
  padding: 8px 15px;
  background-color: #00aa5b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
  border-radius: 50px;
}

.comment-form button:hover {
  background-color: #008c4a;
}
