.filter-tab-container {
  display: flex;
  margin-top: 10px;
}

.tabs {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-out 0s;
  color: var(--NN0, #ffffff);
  border: 1px solid var(--NN600, #6d7588);
  background-color: transparent;
}

.tab.active {
  background-color: #f0f0f0;
  border: 1px solid #333;
}

.tab.selected {
  color: rgb(4, 228, 19);
  border: 1px solid #00aa5b;
  background-color: rgba(46, 135, 40, 0.18);
}
